section {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33%
}

section img {
    max-height: 100px;
    object-fit: fill !important;
}

main{
    width: 1060px;
}

h1{
    font-family: 'Arial', cursive;
    font-size: 30px;
}

h2{
    text-align: center;
}

div{
    height: 300px;
    width: 300px;
  }
